name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11 for project
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'gradle'
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.0'
          cache: 'npm'
          cache-dependency-path: registration-user-interface/package-lock.json
      - name: 'Install npm dependencies'
        run: |
          cd ./registration-user-interface
          npm install
          cd ../
      - name: Gradle test and build
        run: ./gradlew test build
      - name: Generate JaCoCo code coverage badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: >
            lisp-parenthesis-validator/build/reports/jacoco/test/jacocoTestReport.csv
            csv-enrollment-processor/build/reports/jacoco/test/jacocoTestReport.csv
      - name: Commit the badge (if it changed)
        run: |
          if [[ `git status --porcelain` ]]; then
            git config --global user.name 'Prakash Khadka'
            git config --global user.email 'prakashkhadka@aol.com'
            git add -A
            git commit -m "Autogenerated JaCoCo coverage badge"
            git push
          fi